@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --bluelight: rgba(148, 168, 248, 0.229);
  --blue300: rgb(146, 158, 204);
  --blue400: rgb(111, 124, 178);
  --blue500: rgb(80, 95, 152);
  --blue600: rgb(55, 68, 126);
  --blue700: rgb(34, 47, 101);
  --blue800: rgb(17, 27, 71);
  --blue900: rgb(9, 17, 51);
  --grey400: rgb(147, 158, 164);
  --grey600: rgb(93, 105, 112);
  --iconsGrey: rgb(176, 184, 188);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

body,
html {
  max-width: 1440px;
  margin: 0 auto;
  scroll-behavior: smooth;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

li {
  list-style: none;
}

button {
  outline: none;
  background-color: transparent;
}

@media (hover: none) {
  .site-header__list-item {
    pointer-events: none;
  }
}

h2 {
  color: var(--blue900);
  font-size: 36px;
  font-weight: 500;
  line-height: 48px;
}
